#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.box__filters {
  display: flex;
  justify-content: center;
}

.box__projects {
  margin-top: 20px;
  display: flex;
}

.column {
  width: calc(100% / 3);
}

.item__project {
  margin-top: 10px;
  width: calc(100% - 15px);
}

.button__filter {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  min-width: 70px;
  margin-right: 10px;
  background-color: aquamarine;
  cursor: pointer;
}

.button__filter:hover {
  opacity: 0.7;
}

.button__filter.active {
  background-color: lightgreen;
}

.button__filter.active:hover {
  opacity: 1;
}